<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WKBackgroundModes</key>
	<array>
		<string>Connection management in bg</string>
	</array>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Connect to BT as peripheral</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Need to access bluetooth</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This application needs access to your health update usage</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>This application needs access to your health records usage</string>
	<key>NSHealthShareUsageDescription</key>
	<string>This application needs access to your health sharing usage</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>com.cmsc730driving.drivingmonitor.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
</dict>
</plist>
