<!doctype html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="row my-3">
            <div class="col-6 text-center" style="height: 100%;">
                <canvas id="foo" style="height:250px;">
                </canvas>
            </div>
            <div class="col-6 text-center" style="height:100%;">
                <!--
                <img src="{{url_for('static', filename='img/steering-wheel-2.png')}}" style="height:400px;">
                -->
                <canvas id="steering-wheel">
                </canvas>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4 text-center">
                <h3>
                    Speed: 
                    <small id="speed">0</small>
                </h3>
            </div>
            <div class="col-4 text-center">
                <h3>
                    Gas Pedal:
                    <small id="accel">None</small>
                </h3>
            </div>

            <div class="col-4 text-center">
                <h3>
                    Brake Pedal:
                    <small id="brake">None</small>
                </h3>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4 text-center">
                <h3>
                    Grip:
                    <small id="grip">Normal Grip</small>
                </h3>
            </div>

            <div class="col-4 text-center">
                <h3>
                    Heart Rate:
                    <small id="heartrate">0 BPM</small>
                </h3>
            </div>

            <div class="col-4 text-center">
                <h3>
                    Wheel Angle: 
                    <small id="angle">0.0</small>
                </h3>
            </div>

        </div>

        <div class="row mb-3" style="height:100px;">
            <div class="offset-1 col-3">
                <h4>Warnings: </h4>
                <ul id="warnings">

                </ul>
            </div>
            <div class="col-7" id="warning-color">
            </div>
        </div>

        <div class="row mb-2" id="end-area">
            <div class="offset-4 col-4 text-center">
                <button type="button" class="btn btn-danger" id="end">End</button>
            </div>
        </div>

        <div class="row mt-3" id="statistics" style="height:150px; visibility: hidden;">
            <div class="col-12 text-center" style="background-color: #e8e8ff;">
                <h3>Driving Statistics</h4>
            </div>
            <div class="col-4 text-center">
                <h4 id="wki"></h4>
            </div>
            <div class="col-4 text-center">
                <h4 id="whpi"></h4>
            </div>
            <div class="col-4 text-center">
                <h4 id="brki"></h4>
            </div>
            <div class="col-4 text-center">
                <h4 id="hri"></h4>
            </div>
            <div class="col-4 text-center">
                <h4 id="hrmedian"></h4>
            </div>
            <div class="col-4 text-center">
                <h4 id="drivingTime"></h4>
            </div>

        </div>

        <div class="row mt-3 mb-5" id="scores" style="visibility: hidden;">
            <div class="col-12 text-center" style="background-color: #e8e8ff;">
                <h3>Driving Scores</h4>
            </div>
            <div class="col-3 offset-3">
                <h4>Tension: <small id="tension-score"></small></h4>
                <div id="tension-summary">

                </div>
            </div>
            <div class="col-3">
                <h4>Aggresion: <small id="aggression-score"></small></h4>
                <div id="aggression-summary">

                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/gauge.min.js') }}"></script>
    <!--
    <script type="module" src="{{ url_for('static', filename='js/stream.js') }}"></script>
    -->
    <script type="module">
        import "{{ url_for('static', filename='js/gauge.min.js') }}"
        var opts = {
            angle: 0.0, // The span of the gauge arc
            lineWidth: 0.44, // The line thickness
            radiusScale: 1, // Relative radius
            pointer: {
                length: 0.6, // // Relative to gauge radius
                strokeWidth: 0.035, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, max value increases automatically if value > maxValue
            limitMin: false,     // If true, the min value of the gauge will be fixed
            colorStart: '#6FADCF',   // Colors
            colorStop: '#8FC0DA',    // just experiment with them
            strokeColor: '#E0E0E0',  // to see which ones work best for you
            generateGradient: true,
            highDpiSupport: true,     // High resolution support
            renderTicks: {
                divisions: 11,
                divWidth: 1.1,
                divLength: 0.7,
                divColor: '#333333',
                subDivisions: 10,
                subLength: 0.5,
                subWidth: 0.6,
                subColor: '#666666',
            }
            
        };
        var target = document.getElementById('foo'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 110; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 32; // set animation speed (32 is default value)
        gauge.set(0); // set actual value


        function endArduino() {
            fetch("/stop-arduino")
                .then(response => response.body)
                .then(rb => {
                    console.log(rb);
                    const reader = rb.getReader();
                    const { value, done } = reader.read();
                    var endData = new TextDecoder().decode(value).split(',');
                    console.log(endData);
                });
        }

        document.getElementById("end").addEventListener("click", endArduino);

        function gripToString(grip) {
            switch (grip) {
                case 0:
                    return "No Grip";
                case 1:
                    return "Light Grip";
                case 2:
                    return "Normal Grip";
                case 3:
                    return "Tight Grip";
                case 4:
                    return "White Knuckle Grip";
                default:
                    return "Unknown Grip";
            }
        }

        function whipToString(whip) {
            if (whip == 1) {
                return "Dangerous Turn Detected!";
            }

            return "";
        }

        function accelToString(accel) {
            switch (accel) {
                case "0":
                    return "No Gas";
                case "1":
                    return "Light Gas";
                case "2":
                    return "Flooring";
            }
        }

        function brakeToString(brake) {
            switch (brake) {
                case "0":
                    return "Not Braking";
                case "1":
                    return "Light Braking";
                case "2":
                    return "Hard Braking";
            }
        }

        var canvas = document.getElementById('steering-wheel');
        var ctx = canvas.getContext('2d');
        var img = new Image();
        img.src = "{{url_for('static', filename='img/steering-wheel-2.png')}}"
        var imgLoad = false;
        function imgLoaded() {
            imgLoad = true;
            turnWheel(0);
        }
        img.onload = imgLoaded;

        function turnWheel(ang) {
            canvas.width = 250; //Any width
            canvas.height = 250; //Any height
            var cache = this; //cache the local copy of image element for future reference
            var iw = 250; //cache.width;
            var ih = 250; //cache.height;

            ctx.save(); //saves the state of canvas
            ctx.clearRect(0, 0, canvas.width, canvas.height); //clear the canvas
            ctx.translate(canvas.width/2, canvas.height/2); //let's translate
            ctx.rotate(Math.PI / 180 * (ang)); //increment the angle and rotate the image 
            ctx.translate(-(canvas.width/2), -(canvas.height/2)); //let's translate
            ctx.drawImage(img, canvas.width/2 - iw/2, canvas.height/2 - ih/2, iw, ih); //draw the image ;)
            ctx.restore(); //restore the state of canvas
        }

        var speedSpan = document.getElementById('speed');
        var gripSpan = document.getElementById('grip');
        var angleSpan = document.getElementById('angle');
        var heartSpan = document.getElementById('heartrate');
        var accelSpan = document.getElementById('accel');
        var brakeSpan = document.getElementById('brake');

        var wki = document.getElementById("wki");
        var whpi = document.getElementById("whpi");
        var brki = document.getElementById("brki");
        var hri = document.getElementById("hri");
        var hrmedian = document.getElementById("hrmedian");
        var drivingTime = document.getElementById("drivingTime");

        var warningsList = document.getElementById("warnings");
        var warningColor = document.getElementById("warning-color");
        var currentlyWarning_grip = false;
        var currentlyWarning_whip = false;
        var currentlyWarning_brake = false;
        var currentlyWarning_heart = false;

        var gripCount, whipCount, brakeCount, heartRateCount, avgHeartRate;
        var startTime = null, endTime;

        function clearWarning() {
            while (warningsList.firstChild) {
                warningsList.removeChild(warningsList.firstChild);
            }

            warningColor.style.background = "white";
            currentlyWarning_grip = false;
            currentlyWarning_whip = false;
            currentlyWarning_brake = false;
            currentlyWarning_heart = false;
        }

        function createListItem(msg) {
            var node = document.createElement("li");
            var textNode = document.createTextNode(msg);
            node.append(textNode);
            return node;
        }

        function updateWarning(whiteKnuckle, whip, braking, highHeartRate) {

            // console.log(whiteKnuckle, whip, braking);

            if (whiteKnuckle && !currentlyWarning_grip) { 
                currentlyWarning_grip = true;
                var whiteKnuckleNode = createListItem("White Knuckling!");
                warningsList.appendChild(whiteKnuckleNode);
            }
            if (whip && !currentlyWarning_whip) { 
                currentlyWarning_whip = true;
                var whipNode = createListItem("Dangerous Turn!");
                warningsList.appendChild(whipNode);
            }
            if (braking && !currentlyWarning_brake) { 
                currentlyWarning_brake = true;
                var brakeNode = createListItem("Aggressive driving!");
                warningsList.appendChild(brakeNode);
            }

            if (highHeartRate && !currentlyWarning_heart) {
                currentlyWarning_heart = true;
                var heartNode = createListItem("High heart rate!");
                warningsList.appendChild(heartNode);
            }

            if (whiteKnuckle == 1 || whip == 1 || braking == 1 || highHeartRate) {
                warningColor.style.background = "red";
                window.setTimeout(clearWarning, 3000);
            }
        }

        function displayStatistics() {
            document.getElementById("statistics").style.visibility = "visible";

            whpi.innerHTML = "White Knuckle Incidents: " + gripCount;
            wki.innerHTML = "Whipping Incidents: " + whipCount;
            brki.innerHTML = "Aggressive Driving Incidents: " + brakeCount;
            hri.innerHTML = "High Heart Rate Occurrences: " + heartRateCount;
            hrmedian.innerHTML = "Average Heart Rate: " + avgHeartRate + " BPM";
        }

        function displayScores() {
            document.getElementById("scores").style.visibility = "visible";

            var aggressionScoreElement = document.getElementById("aggression-score");
            var aggressionSummary = document.getElementById("aggression-summary");

            var tenseScoreElement = document.getElementById("tension-score");
            var tenseSummary = document.getElementById("tension-summary");

            var elapsedTime = (endTime - startTime) / 1000; // in seconds
            var minutes = parseInt(elapsedTime / 60);
            var seconds = parseInt(elapsedTime % 60);
            drivingTime.innerHTML = "Driving Time: " + minutes + " minutes and " + seconds + " seconds";
            
            /** TODO:
             * Check incident counts and infer meaning
             */
            var aggScore, aggSummary, tenseScore, tSummary, hrScore;

            // Calculate Aggression Score
            aggScore = (brakeCount + whipCount)/elapsedTime*600
            if (aggScore <=1){
                aggSummary = "Safe";
            } else if (aggScore <= 4){
                aggSummary = "Slightly Aggressive";
            } else if (aggScore <= 8){
                aggSummary = "Aggressive";
            } else {
                aggSummary = "Very Aggressive";
                aggScore = 10;
            }

            aggressionSummary.innerHTML = aggSummary;
            aggressionScoreElement.innerHTML = aggScore;

            // Calculate Tenseness Score
            if (avgHeartRate <= 90) {
                hrScore = 1;
            } else if (avgHeartRate <= 110) {
                hrScore = 2;
            } else if (avgHeartRate <= 110) {
                hrScore = 4;
            } else {
                hrScore = 8;
            }

            tenseScore = (1 + gripCount) * hrScore / elapsedTime * 600
            if (tenseScore <=1){
                tSummary = "Safe";
            } else if (tenseScore <= 4){
                tSummary = "Slightly Tense";
            } else if (tenseScore <= 8){
                tSummary = "Quite Tense";
            } else {
                tSummary = "Super Tense";
                tenseScore = 10;
            }

            tenseSummary.innerHTML = tSummary;
            tenseScoreElement.innerHTML = tenseScore;
        }

        async function process() {
            //const response = await fetch("/teststream")
            const response = await fetch("/arduino-data")
            const reader = response.body.getReader();
            
            while (true) {
                const { value, done } = await reader.read();
                var ardData = new TextDecoder().decode(value).split(',');
                console.log(ardData);

                if (startTime == null) {
                    startTime = Date.now();
                }

                if (ardData.length == 5) {
                    gripCount = parseInt(ardData[0]);
                    whipCount = parseInt(ardData[1]);
                    brakeCount = parseInt(ardData[2]);
                    heartRateCount = parseInt(ardData[3]);
                    avgHeartRate = parseFloat(ardData[4]);

                    endTime = Date.now();
                    document.getElementById("end-area").style.visibility = "hidden";
                    displayStatistics();
                    displayScores();
                } else if (ardData.length == 10) {
                    var speedStr = ardData[0] + " mph";
                    var speed = parseInt(speedStr);
                    gauge.set(speed);

                    var grip = parseInt(ardData[1]);
                    var gripStr = gripToString(grip);

                    var wheelAngleStr = ardData[2];
                    var wheelAngle = parseFloat(wheelAngleStr);
                    turnWheel(wheelAngle);

                    var heartRateStr = ardData[3] + " BPM";

                    var accelEnum = ardData[4];
                    var accelStr = accelToString(accelEnum);
                    var brakeEnum = ardData[5];
                    var brakeStr = brakeToString(brakeEnum);

                    var whipStr = ardData[6];
                    var whipInt = parseInt(whipStr);
                    var whipFullStr = whipToString(whipInt);

                    var brakeIncStr = ardData[7];
                    var brakeIncInt = parseInt(brakeIncStr);

                    var whiteKnuckleIncStr = ardData[8];
                    var whiteKnuckleIncInt = parseInt(whiteKnuckleIncStr);

                    var highHeartRateIncStr = ardData[9];
                    var highHeartRateIncInt = parseInt(highHeartRateIncStr);

                    updateWarning(whiteKnuckleIncInt, whipInt, brakeIncInt, highHeartRateIncInt);

                    // console.log("Speed: " + speed + " Grip: " + gripStr + "Wheel Angle: " + wheelAngle + " Dangeroud Turn Detected: " + whipFullStr + "Heart Rate: " + heartRateStr);
                    
                    speedSpan.innerHTML = speedStr;
                    gripSpan.innerHTML = gripStr;
                    angleSpan.innerHTML = wheelAngle;
                    accelSpan.innerHTML = accelStr;
                    brakeSpan.innerHTML = brakeStr;
                    heartSpan.innerHTML = heartRateStr;
                }

                if (done) {
                    console.log('Done');
                    break;
                }
            }
        }
        gauge.set(0);
        process();
    </script>
</body>
</html>